<div class="col-md-3">
    <div class="border" style="padding: 10px;">
        <h5>CATEGORIES</h5>
            <div class="mini-menu">
                <ul>
                    {{#each categoryFilter}}
                        <li class="sub">
                            <a>
                                {{ categoryid1 }}
                            </a>
                            <ul>
                                <li>
                                    <a href="/product_categories/category/{{ categoryLink }}"><span  style="font-size: 15px; color: rgba(0,0,0,.5);">Show All</span></a>
                                </li>
                                <li><a href="#">Blazer</a></li>
                                <li><a href="#">Shoes</a></li>
                            </ul>
                        </li>
                    {{/each}}
                </ul>
            </div>
    </div>
</div>