<div class="container">
    <h4><b>results for</b> {{ searchQuery }}</h4>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p>Result not found</p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>