<style type="text/css">
    p {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    h4 {
        font-family: 'Josefin Sans', sans-serif;
    }

    h5 {
        font-family: 'Josefin Sans', sans-serif;
    }

    /*TABLE CSS*/
    .table>tbody>tr>td, .table>tfoot>tr>td{
        vertical-align: middle;
    }



    /*Media Query*/
    @media screen and (max-width: 600px) {
        table#cart tbody td .form-control{
            width:20%;
            display: inline !important;
        }
        .actions .btn{
            width:36%;
            margin:1.5em 0;
        }
        
        .actions .btn-info{
            float:left;
        }
        .actions .btn-danger{
            float:right;
        }

        table#cart thead { display: none; }
        table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
        table#cart tbody tr td:first-child { background: #333; color: #fff; }
        table#cart tbody td:before {
            content: attr(data-th); font-weight: bold;
            display: inline-block; width: 8rem;
        }
        
        table#cart tfoot td{display:block; }
        table#cart tfoot td .btn{display:block;} 
    }


</style>


<section class="content-section-a" style="background-color: #FFF; margin-top: 90px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:60%; font-size:18px;">Shopping Cart</th>
                            <th style="width:10%; font-weight:normal; font-size:15px;"></th>
                            <th style="width:8%; font-weight:normal; font-size:15px;">Quantity</th>
                            <th style="width:22%; font-weight:normal; font-size:15px;" class="text-center">Price</th>
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs"><img src="https://img.goods.ph/G1/M00/05/B4/wKgAAlmgKoeAUJP6AAN6WCqSCVs428_200x200.jpg" alt="..." class="img-responsive"/></div>
                                    <div class="col-sm-10">
                                        <h4 class="nomargin">Kingmax Flashdrive</h4>
                                        <p>Kingmax Flashdrive 16GB PD-71 is a USB 2.0 that is enough for your transfer of photos, mp3s and video files from pc to pc. Order online now at Goods.ph!</p>
                                    </div>
                                </div>
                            </td>
                            <td data-th=" "></td>
                            <td data-th="Quantity">
                                <input type="number" class="form-control text-center" value="1">
                            </td>
                            <td data-th="Price" class="text-center">₱ 500.00</td>
                            <td class="actions" data-th="">
                                <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                                <button class="btn btn-danger btn-sm del_item"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Total ₱ 500.00</strong></td>
                            <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    var base_url = window.location.origin+"/";
    var sum = $('#sum').val();

    $(".qty_drop").on('change', function (){ //change event for select
        $.ajax({ //ajax call
            type: "POST", //method == POST
            url: base_url+'product/change_quantity', //url to be called
            data: { 'qty' :  $(this).val(), 'id' : $(this).siblings("input").val() }, //data to be send
            dataType:'JSON',
            success:function(data){
                window.location.reload();
                //$( "#reload" ).load( base_url+"dashboard/view_cart #reload" );
            }
        });
    });

    $('.del_item').click(function() {
        if (confirm('Are you sure you want to delete？')) {
            var item_id = $(this).val();
            $.ajax({
                url: base_url+'product/delete_item',
                type: 'POST',
                data: {'id':item_id},
                dataType:'JSON',
                success:function(data){
                    window.location.reload();
                }
            });
        }
    });

    $(document).on('change', '.btn-file :file', function() {
        var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [label]);
    });

    $('.btn-file :file').on('fileselect', function(event, label) {

        var input = $(this).parents('.img-upload').find(':text'),
                log = label;

        if( input.length ) {
            input.val(log);
        } else {

        }
    });

    if(sum <= 2000){
        $('#loan_view').attr('disabled', true);
        $('#toggle1').click(function () {
            //check if radio is checked
            if ($(this).is(':checked')) {
                $('#loan_view').removeAttr('disabled'); //enable input
            } else {
                $('#loan_view').attr('disabled', true); //disable input
                alert('You must agree with the terms and conditions');
            }
        });
    }else{
        $('#loan_view').removeAttr('disabled');
    }



</script>