<!-- <?php
// $this->load->view('layout/header');
?> -->
<style>
    body{
        background:#eee;
    }
    .thumbnail {
        position:relative;
        overflow:hidden;
    }

    .caption {
        position:absolute;
        bottom:-100%;
        right:0;
        background:rgba(36, 34, 30, 0.75);
        width:100%;
        height:100%;
        padding:2%;
        text-align:center;
        color:#fff !important;
        z-index:2;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .thumbnail:hover .caption {
        bottom:0%;
    }
    .thumbnail {
        height: 250px;
        width: 170px;
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            <strong>Shop</strong>
        </h1>

        <br />

        <div class="callout callout-success">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <a href="https://goo.gl/forms/bv5IVn2S71MnP29i1" target="_blank">Tell us what you want and we'll find it for you.</a>
        </div>
    </section>

    <section class="content">
        <div class="panel panel-warning">
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <div class="input-group">
                                <input type="hidden" name="search_param" value="all" id="search_param">
                                <input type="text" class="form-control" name="x" placeholder="Search item...">
                                <span class="input-group-btn">
                            <button class="btn btn-warning" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Row -->
        <div class="panel panel-warning">
            <div class="panel-body">

                <div class="col-sm-2">
                    <div class="thumbnail">
                        <img src="bigimage" alt="">
                        <center><h5>name</h5></center>
                        <h5 style="color: #f39c12;" align="center">PHP price</h5>
                        <div class="caption" style="padding-top: 100px;">

                            <a  href="<?php base_url()?>view_cart" class="btn btn-warning btn-ss" role="button">View Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</div>

<!-- <?php
  // $this->load->view('layout/footer');
?> -->
<script type="text/javascript">

    $("#supplier").change(function () {
        var e = document.getElementById("supplier");
        var strSup = e.options[e.selectedIndex].value;
        if (strSup == '1') {
            $('#prod_list').show();
        } else {
            $('#prod_list').hide();
        }

    });


    $('#category').change(function () {
        var cat = $(this).val();
        var sup = $('#supplier').val();
        var base_url = window.location.origin+"/bridgeloan/";

        $.ajax({
            url: base_url+'dashboard/search_product',
            type: 'POST',
            data: {'supplier':sup, 'category':cat},
            dataType:'JSON',
            success:function(data){
            }

        });
    });

    function commaSeparateNumber(val){
        while (/(\d+)(\d{3})/.test(val.toString())){
            val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
        }
        return val;
    }

</script>