<!-- <?php
// $this->load->view('layout/client_header');
?> -->
<br><br><br><br>
<div class="container">
    <section class="content">
        <!-- Start Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <section class="card-header">
                        <h1 align="center">
                            <strong style="color:#f39c12;">Thank You!</strong><br>
                            <small>Your order has been placed.</small>
                        </h1>
                    </section>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box">
                                                <div class="panel-body">

                                                    <table class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Grand Total</th>
                                                            <th>Terms</th>
                                                            <th>Order Status</th>
                                                            <th>Order Number</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>lname</td>
                                                            <td>total_amount</td>
                                                            <td>terms payout</td>
                                                            <td>

                                                                switch(order_status){
                                                                case '' : echo "<p style='color:gray'><b>Pending</b></p>"; break;
                                                                case 1 : echo "<p style='color:gray'><b>For Payment</b></p>"; break;
                                                                case 2 : echo "<p style='color:#54bf53'><b>Paid</b></p>"; break;
                                                                case 3 : echo "<p style='color:blue'><b>Delivery</b></p>"; break;
                                                                case 4 : echo "<p style='color:#54bf53'><b>Completed</b></p>"; break;

                                                            <td>pre_header</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col">
                                                                <span>We are glad to inform you that your order pre_header_id has been accepted, please wait for more information and check your Bridge Access dashboard regarding the status. We hope that you enjoy your purchase and continue to shop with us.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <br />

                                            </div>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col col-sm-5">
                                                    </div>
                                                    <div class="col col-sm-1">
                                                        <a href="home"><button type="button" class="btn btn-secondary">Back</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- <?php
  // $this->load->view('layout/client_footer');
?> -->